@import '../Variables.scss';


.order-container {
    background: $fern-white;
}


////////////////



.checkout-wrapper {

    position: absolute;
    height: 100%;
    width: 100%;
    background: none;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




    .details-title {
        position: absolute;

        // top: 0;
        left: 15rem;
        width: 20rem;
        font-family: $title-font;
        font-size: 9rem;
        margin-bottom: 3rem;

        color: $fern-yellow;
    }





    .customer-details-container {
        position: absolute;
        background: rgb(39, 39, 39, 0.7);
        // border: 2px solid $fern-faded-white;
        // box-shadow: 2px 2px 2px $fern-faded-white;
        border-radius: .7rem;
        width: 400px;
        height: 500px;




        .details-form {
            background: none;

            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;



            input {
                width: 20rem;
                border-radius: .7rem;
                border: none;
                box-sizing: border-box;
                padding: .5rem;
                text-align: center;
                margin-bottom: 1rem;
                font-family: $fern_font;
                font-size: 1.4rem;
            }

            .next-button {
                position: absolute;
                bottom: -6rem;
                // transform: translateY(-50%);
                // left: 35rem;
                border: 2px solid $fern-yellow;
                background: none;
                color: white;
                // width: 20rem;
                // border-radius: .7rem;
                // border: none;
                // padding: .5rem;
                // text-align: center;
                // margin-bottom: 1rem;

                &:hover {
                    background: $fern-yellow;
                    color: $fern-black;
                }
            }
        }
    }





















    ////////////////////////





    .shipping-title {
        position: absolute;

        top: 1rem;
        left: 2rem;
        width: 20rem;
        font-family: $title-font;
        font-size: 20rem;
        margin-bottom: 3rem;

        color: $fern-yellow;
    }




    .shipping-container {
        margin-top: 6rem;
        position: absolute;
        background: rgb(39, 39, 39, 0);
        display: flex;
        // border: 2px solid $fern-faded-white;
        // box-shadow: 2px 2px 2px $fern-faded-white;
        border-radius: .7rem;
        width: 800px;
        height: 400px;


        .shipping-alternatives {
            height: 100%;
            display: flex;
            align-items: center;


            // background-color: #ccc;




            form {
                display: flex;

                flex-direction: column;

            }

            label {
                display: flex;
                cursor: pointer;
                font-weight: 500;
                position: relative;
                overflow: hidden;
                margin-bottom: 0.375em;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                /* Accessible outline */
                /* Remove comment to use */
                /*
		&:focus-within {
				outline: .125em solid $primary-color;
		}
    */




                .shipping-alternative-title {
                    color: white;
                    font-size: 2rem;
                    font-family: $fern_font;
                }

                .shipping-alternative-info {
                    padding: 1rem;
                    border-radius: .2rem;
                    margin-left: 1rem;
                    background: rgba(56, 56, 56, 0.4);
                    font-family: $fern_font;
                    color: $fern-faded-white;
                    font-size: 1rem;

                }

                input {
                    position: absolute;
                    left: -9999px;

                    &:checked+span {
                        background-color: rgba(255, 255, 255, 0.1);

                        &:before {
                            box-shadow: inset 0 0 0 0.4375em $fern-yellow;
                        }
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    padding: 0.375em 0.75em 0.375em 0.375em;
                    border-radius: 99em; // or something higher...
                    transition: 0.25s ease;

                    &:hover {
                        background-color: rgba(100, 100, 100, 0.2);
                    }

                    &:before {
                        display: flex;
                        flex-shrink: 0;
                        content: "";
                        // background-color: #fff;
                        width: 1.5em;
                        height: 1.5em;
                        border-radius: 50%;
                        margin-right: 0.375em;
                        transition: 0.25s ease;
                        box-shadow: inset 0 0 0 0.125em $fern-yellow;
                    }
                }


            }






        }



        .next-button {
            position: absolute;
            bottom: -6rem;
            right: 0;
            // transform: translateY(-50%);
            // left: 35rem;
            border: 2px solid $fern-yellow;
            background: none;
            color: white;
            justify-self: flex-end;
            // width: 20rem;
            // border-radius: .7rem;
            // border: none;
            // padding: .5rem;
            // text-align: center;
            // margin-bottom: 1rem;

            &:hover {
                background: $fern-yellow;
                color: $fern-black;
            }
        }
    }
}






//////////////////////////////////




.payment-container {
    background: white;
}