@import '../Variables.scss';


.page-layout {
    background: $fern-black;

    padding-top: 3rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    
    .page-content {
        // background: #f2f2f2;
        
        height: 100%;
        width: 80%;
        



        .page-title {
            position: absolute;
            left: -4.5rem;
            bottom: 50%;
            transform: translateX(50%);
            font-size: 5rem;
            color: $fern-yellow;
            transform: rotate(-90deg);

        }
    }
}