@import '../Variables.scss';


.store-container {
    display: flex;

    height: 30%;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1rem;
    


    .store-left-container {
        border-radius: .2rem;
        width: 20%;
        height: 100%;
        


        .store-image {
          height: 80%;
         width: 100%;

        border-radius: .2rem .2rem 0 0;

        background: grey;

        }



        .store-social {
            display: flex;
            margin-top: .5rem;
            padding: .4rem;
            justify-content: center;
            align-items: center;

            .social-icon {
                font-size: 1.2rem;
                padding: 0 .5rem;
                color: $fern-faded-white;
            }
        }


    }


    .store-right-container {
        margin-left: 2rem;
        border-radius: .7rem;
        box-sizing: border-box;
        width: 80%;
        height: 100%;
       

        .storefront-title {

            font-family: $title-font;
            font-size: 5rem;
            color: $fern-yellow;
        }


        .storefront-description {
            color: $fern-faded-white;
        }

    }


}





.storefront-product-grid {

    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
    box-sizing: border-box;

    overflow-y: scroll;
    background: $fern-faded-white;





    .product-card {
        width: 22rem;
        height: 20rem;
        border-radius: .2rem;
        background: white;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);

        margin: 1rem;
        transform: translateY(0);
        transition: all .2s ease-in-out;

        img {
            width: 100%;
            height: 50%;
            object-fit: cover;

            border-radius: .2rem .2rem 0 0;

        }

        &:hover {
            transform: translateY(-.5rem);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

            transition: all .2s ease-in-out;

        }

        .product-info-container {

            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;


            .product-name {
                font-family: $h2-font;
                font-size: 2rem;
            }

            .product-description {
                font-size: 1rem;
            }

            .product-price {
                font-size: 2rem;
                font-family: $title-font;
                color: $fern-green;
                align-self: flex-end;

            }



            .add-to-cart {

                border-radius: .7rem;
                border: none;
                box-shadow: 0 0 0 rgba(0,0,0,0.0);
                padding: .4rem;
                position: absolute;
                background: $fern-green;
                color: white;
                bottom: 1rem;


                &:hover {
                    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
                    transition: .1s all ease-in-out;
                    background: rgb(51, 180, 51)

                }
            }
          

        }

    }

}