@import './Variables.scss';


.cart-navbar {
    margin-top: 1rem;
    display: flex;

    .cart-icon {

        font-size: 2.2rem;
        &:hover {
            cursor: pointer;
        }
    }

    .cart-quantity {
        
        position: relative;
        background: $fern-yellow;
        right: .5rem;
        top: 1rem;
        // border: 1px solid white;
        border-radius: 4rem;
        padding: 0.3rem .8rem;

        &:hover {
            cursor: pointer;
        }


        .cart-quantity-number {
            font-size: 1rem;
            font-family: $fern_font;
            color: $fern-black;
        }
    }
}