.center {
    justify-content: center;
}

.sml-pad {
    padding: 0 1rem;
}

.green {
    // background: green;
    background: linear-gradient(180deg, rgba(27,84,18,1) 0%, rgba(27,84,18,1) 100%);

}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
    visibility: hidden;

}

.show {
    display: block;
}

.close {
    position: absolute;
    margin: .5rem;
    right: 0;
}


.modal {
    position: absolute;

    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;


}