nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: teal;
    height: 3rem;
    width: 100%;
    
   

    .nav-menu {
        display: flex;
        background: green;
         padding: 0 2rem;



        .log-in {
            background: orange;
            margin: 0 1rem;
        }

        .join {
            background: hotpink;
            margin: 0 1rem;
        }
    }
}