nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: rgba(0,0,0,0.1);
    height: 3rem;
    width: 100%;

    z-index: 10;
    color: #f1f1f1;
   


    .nav-link-logout {
        color: white;
        text-decoration: none;
    }
    .nav-menu {
        display: flex;
        background: green;
         padding: 0 2rem;



        .log-in {
            background: orange;
            margin: 0 1rem;
        }

        .join {
            background: hotpink;
            margin: 0 1rem;
        }
    }
}