@import './Variables.scss';

.menu {
// text-decoration: none;



    @media (max-width: $breakpoint-tablet) {
        height: 90vh;
        width: 100vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 
      background: $fern-black;
      left: 0;
     box-sizing: border-box;
     margin-top: 2rem;



    }



    .nav-link {

        color: white;
        text-decoration: none;
        /* no underline */

     

        a &:active {

            color: red;
        }
    }
}