@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600;900&display=swap');

$fern-green: #468966;
$fern-yellow: #e6c43e;

$title-font: 'Playfair Display', serif;

$jumbo: 6rem;