@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600;900&display=swap');

@import url("https://use.typekit.net/hdz5och.css");
// @import url("https://use.typekit.net/hdz5och.css");



$fern-green: #468966;
$fern-yellow: #e6c43e;
$fern-white: #f1f1f1;
$fern-faded-white:#DFDFDF;
$fern-black:#141414;



$title-font2: 'Playfair Display', serif;
$title-font: 'fino-sans', sans-serif;
$h2-font: 'broadsheet', serif;;
$fern_font: 'lato', sans-serif;


$title-jumbo: 12rem;
$title-button: 1.5rem;




$h2-big: 3rem;

$h3-medium: 1rem;
$small: 6rem;


